<header class="navbar">
    <div class="logo">
      <img src="assets/images/trackerLogo.svg" alt="Budget Tracker Logo">
      <ng-container *ngIf="isUserProfileRoute()">
         <div class="vertical-divider"></div>
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>notes</mat-icon>
      </button>
      </ng-container>
     
    </div>
   
    <div class="nav-icons">
      <button mat-icon-button>
        <mat-icon>notifications</mat-icon>
      </button>
      <app-dropdown>
      <button mat-icon-button dropdown-trigger>
        <mat-icon>account_circle</mat-icon>
      </button>

      <div dropdown-content class="dropdown-profile">
        <div class="dropdown-header">
          <div class="avatar">{{ user.first_name.charAt(0).toUpperCase() }}</div>
          <div class="user-info">
            <strong>{{user.first_name + ' ' + user.last_name}}</strong>
            <small>{{user.email}}</small>
          </div>
        </div>

        <hr />

        <div class="dropdown-actions">
          <button mat-button (click)="goToProfile()">
            <mat-icon>person</mat-icon> Profile
          </button>
          <button mat-button (click)="logout()">
            <mat-icon>logout</mat-icon> Logout
          </button>
        </div>
      </div>
      </app-dropdown>
    </div>
  </header>
  