.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 0.75rem 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    .logo {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      font-weight: 600;
      color: #333;

      .vertical-divider {
        width: 1px;
        height: 40px; /* Adjust height as needed */
        background-color: #ddd;
        margin-right: 10px;
      }
  
      img {
        width: 10rem;
        margin-right: 67px;
      }
    }
  
    .nav-icons {
      display: flex;
      align-items: center;

      .dropdown-header {
        display: flex;
        align-items: center;
        padding: 16px;
        gap: 12px;
      }
    
      .avatar {
        width: 48px;
        height: 48px;
        background: #e0e0e0;
        color: #555;
        font-size: 18px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
      }
    
      .user-info {
        display: flex;
        flex-direction: column;
        color: #333;
      }
    
      hr {
        border: none;
        height: 1px;
        background: #e0e0e0;
        margin: 8px 0;
      }

      .dropdown-actions {
        display: flex;
        align-items: start;
        flex-direction: column;
        padding: 8px 0;
      }
      
      button {
        margin-left: 10px;
      }
    }
  }
  