<app-grid-layout>
    <div left>
        <div class="forgot-pass-container">
            <h2>Reset Password</h2>
            <p>Enter your email for a reset link.</p>

            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">

                <div class="input-group">
                    <label class="custom-label" for="email">Email</label>
                    <mat-form-field appearance="outline" class="full-width">
                        <input matInput placeholder="test@gmail.com" id="email" formControlName="email" type="email">
                        <mat-icon matSuffix>mail_outline</mat-icon>
                    </mat-form-field>
                </div>

                <button mat-flat-button color="primary" class="full-width login-btn" type="submit"
                    [disabled]="resetForm.invalid">
                   Send Reset Passoword Link
                </button>

                <p class="signup-text">
                    Don’t have an account? <a (click)="goToSignup()" class="signup-link">Sign Up</a>
                </p>
            </form>
        </div>
    </div>

    <ng-container right>
        <img [src]="imagePath" alt="login-image" />
    </ng-container>
</app-grid-layout>