.login-container {
    // max-width: 400px;
    margin: auto;
    padding: 2rem 0;
    // text-align: center;
  
    h2 {
      font-size: 24px;
      font-weight: 600;
    }
  
    p {
      color: gray;
      margin-bottom: 1rem;
    }
  
    .full-width {
      width: 100%;
      margin-bottom: 1rem;
    }
  
    .options {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      margin-bottom: 1rem;
  
      .forgot-password {
        color: blue;
        text-decoration: none;
      }
    }
  
    .login-btn {
      background: #6c44f3;
      color: white;
      font-weight: bold;
      height: 48px;
    }
  
    .signup-text {
      margin-top: 1rem;
      font-size: 14px;
  
      .signup-link {
        color: #6c44f3;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
  