.analysis-wrapper{
  width: 100%;
}

mat-card {
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .header {
    font-weight: bolder;
    h5{
      margin: 1rem 0;
    }
  }
  
  .loading-message {
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
    color: #666;
  }